$primary: #C2F710;
$secondary: #8145FF;
$success: #24D199;
$body-bg: #fff;
$body-color: #33353A;
$card-border-radius: 1rem;
$btn-border-radius: 1.5rem;
$font-family-base: 'Barlow', sans-serif;

@import "~bootstrap/scss/bootstrap";